.inputWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--color-main);
}

.labelErrorRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.label {
  font-size: 14px;
  color: black;
}

.inputInner {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: var(--color-secondary);
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  box-sizing: border-box;

  background-color: var(--color-main);
  color: #000;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  font-size: 16px;

  &:focus {
    outline: none;
    border: 1px solid var(--color-secondary);
  }
}

.rightIcon {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  min-height: 16px;
  margin-bottom: 4px;
  align-self: flex-start;
}
