.container {
  display: flex;
  flex-direction: column;
}

.header,
.row {
  display: flex;
  align-items: center;
  padding: 4px;
}

.header {
  font-weight: bold;
  color: #ccc;
}

.row {
  border-bottom: 1px solid #ccc;
  &:hover {
    background-color: #f9f9f9;
  }
}

.cell {
  flex: 1;
  display: flex;
  align-items: center;
}

.cellTitle {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.imagePlaceholder {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  margin-right: 8px;
  flex-shrink: 0;
}

.titleText {
  font-weight: 500;
}

.categoryText {
  font-size: 12px;
  color: #777;
}

.actions * {
  margin-right: 4px;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 8px;
}

.addButton {
  width: 24px;
  height: 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;

  &:hover {
    background-color: #0056b3;
  }
}
