.container {
  display: flex;
  flex-direction: column;
}

.header,
.row {
  display: flex;
  align-items: center;
  padding: 6px;
}

.header {
  font-weight: bold;
  color: var(--color-secondary);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.row {
  height: 60px;
  border-bottom: 1px solid var(--text-light-grey);
  &:hover {
    background-color: #f9f9f9;
  }
}

.cents {
  color: var(--text-light-grey);
  margin-left: 2px;
}

.placeholder {
  font-weight: bold;
}

.cell {
  flex: 1;
  display: flex;
  align-items: center;
}

.cellTitle {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.imagePlaceholder {
  width: 50px;
  height: 50px;
  background-color: var(--text-light-grey);
  margin-right: 8px;
  flex-shrink: 0;
  border-radius: 8px;
}

.titleText {
  font-weight: 500;
}

.categoryText {
  font-size: 12px;
  color: var(--text-light-grey);
}

.actions * {
  margin-right: 4px;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 8px;
}

.addButton {
  width: 24px;
  height: 24px;
  background-color: var(--color-blue);
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.notFound {
  font-size: 32px;
  margin-top: 20px;
}

.skeletonRow {
  height: 50px;
  background-color: var(--color-secondary);
  border-radius: 8px;
  margin-bottom: 10px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
