#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  --color-main: rgba(128, 128, 128, 0.96);
  --color-secondary: #e9e9e9;

  --color-blue: #242edb;
  --color-black: #232323;

  --text-light-grey: #747474;
}
